<%= form_for(@user, {html: {class: 'ui form'}}) do |f| %>
<div class="two fields">
  <div class="two wide field">
<%= f.label :first_name %>
<%= f.text_field :first_name %> <br>
  </div>
  <div class="two wide field">
<%= f.label :last_name %>
<%= f.text_field :last_name %> <br>
</div>
</div>
<div class="four wide field">
<%= f.label :username %>
<%= f.text_field :username %> <br>
</div>
<div class="four wide field">
<%= f.label :password %>
<%= f.text_field :password %> <br>
<%= f.label :password_confirmation %>
</div>
<div class="four wide field">
<%= f.text_field :password_confirmation %> <br>
</div>
<div class="four wide field">
<%= f.label :account_type %>
<% if !current_user.account_type_id %>
<%= f.collection_select :account_type_id, AccountType.all, :id, :name %>
<% else %>
This is a <b><%= current_user.account_type.name %></b> account. You must create a separate login for each account type.
</div>


<% end %>
<%= f.submit 'Submit' %>
<% end %>
