<div class="ui two column grid">
<div class="column">
<h2>Order from: <%= @order.chef.full_name%></h2>
<h2>Order for: <%= @order.customer.full_name%></h2>

<p>Order status: <%= @order.status %> </p>
<p>Time ordered: <%= @order.created_at%></p>


<p>
<% if @order.courier_id %>
	<%= @order.courier.full_name %> will arrive at <%= @order.created_at + 30.minute %>.
<% else %>
	Still awaiting a courier for this meal. <br>
	Estimated delivery time for meal is <%= @order.created_at + 1.hour %>. <br>
<% end %>
</p>

Items:
<ul>
	<% @order.items.each do |item| %>
	<li>
	<% @total_price += item.price #increment @total_price so that we dont have to iterate again %>
	<%= item.name %>:  $<%= "%.2f" %[item.price] %>
	</li>
	<% end %>
</ul>

<p>Delivery Fee: $5.00</p>
<p>Total price: $<%= "%.2f" %[@total_price] %></p>

</div>

<div class="column">
<% if current_user.account_type_id.to_i == 2 # is chef %>
	<%= render 'chefbutton' %>
<% elsif current_user.account_type_id.to_i == 3 # is courier %>
	<%= render 'courierbutton' %>
	
		<%= render 'map' %>
	
<% end %>
</div>
</div>
