<h2>Your order from <%= @order.chef.full_name%></h2>

<p>Order status: <%= @order.status %> </p>
<p>Time you ordered: <%= @order.created_at%></p>


<p>
<% if @order.courier_id %>
	<%= @order.courier.full_name %> will arrive at <%= @order.created_at + 30.minute %> with your meal.
<% else %>
	Still awaiting a courier for your meal. <br>
	Estimated arrival time for your meal is <%= @order.created_at + 1.hour %>. <br>
	Thank you for your patience. <br>
<% end %>
</p>

Items:
<ul>
	<% @order.items.each do |item| %>
	<li>
	<% @total_price += item.price #increment @total_price so that we dont have to iterate again %>
	<%= item.name %>:  $<%= "%.2f" %[item.price] %>
	</li>
	<% end %>
</ul>

<p>Delivery Fee: $5.00</p>
<p>Total price: $<%= "%.2f" %[@total_price] %></p>

<% if current_user.account_type_id.to_i == 3 && !@order.completed %>
	<%= link_to 'Mark as delivered', delivered_path(@order), method: 'patch' %>
	<% end %>
