
<%= form_for(@address, {html: {class: 'ui form'}}) do |f| %>
 <div class="five wide field">
   <%= f.label :label %>
   <%= f.text_field :label, placeholder: 'Enter the address Label' %>
  </div>
  <div class="five wide field">
<%= f.label :street_address %>
<%= f.text_field :street_address, placeholder: 'Street address' %>
</div>
<div class="three fields">
<div class="three wide field">
<%= f.label :city %>
<%= f.text_field :city, placeholder: 'City' %>
</div>
<div class="one wide field">
<%= f.label :state %>
<%= f.text_field :state, placeholder: 'State' %>
</div>
<div class="one wide field">
<%= f.label :zip %>
<%= f.text_field :zip, placeholder: 'Zip'%>
</div>
</div>
<%= f.submit 'Submit' %>
<% end %>
