

<% if logged_in? %>
  <h3>Welcome, <%= current_user.first_name %></h3>
  <% if is_chef? %>
      <%= render 'chef' %>

  <% elsif is_customer? %>

    <%= render 'customer' %>

  <% elsif is_courier? %>
      <%= render 'courier' %>
  <%end%>

    <p><%= button_to 'Log out', logout_path, method: :delete %></p>
<% else %>
    <h2>Already a user? <%= button_to 'Log in', login_path %> </h2>

    <h2>New to FoodBringer? <%= button_to 'Sign up', new_user_path %></h2>
<%end%>
