<!DOCTYPE html>

<html>
<head>

  <title>FoodBringer</title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>


  <div class="ui menu">



    <div class="header item">
      <i class="very big food icon"></i>
      <a href = "<%= root_path %>">
      <font size="6" face="trebuchet ms" color="#d94000">FoodBringer </font>
      </a>

    </div>
    <% if logged_in? %>
    <a href = "<%= orders_path %>" class="item">
      <font size="4" face="trebuchet ms" color="#68a8e8">Order History</font>
    </a>
    <a href = "<%= user_path(current_user) %>" class="item">
      <font size="4" face="trebuchet ms" color="#68a8e8">Account</font>
    </a>
    <a href = "<%= logout_path %>" data-method="delete" class="right aligned item">
      <font size="4" face="trebuchet ms" color="#68a8e8">Log out</font>
    </a>
    <% else %>
    <a href = "<%= login_path %>" class="item">
      <font size="4" face="trebuchet ms" color="#68a8e8">Log in</font>
    </a>
    <a href = "<%= new_user_path %>" class="item">
      <font size="4" face="trebuchet ms" color="#68a8e8">Sign up</font>
    </a>
    <% end %>
  </div>


  <body>


    <%= yield %>




  </body>
</html>
